<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreMvc3_Template</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/site.css" rel="stylesheet" />

    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>
<body>

    @Html.Partial("_NavbarPartial")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 -  <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/js/site.js"></script>

    @RenderSection("Scripts", required: false)

    @RenderSection("endJS", required: false)
</body>
</html>
