@model MvcHtmlHelpers.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>欲刪除之員工資料確認</h2>

<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(m => m.Id)</dt>
    <dd>@Html.DisplayFor(m => m.Id)</dd>
    <dt>@Html.DisplayNameFor(m => m.Name)</dt>
    <dd>@Html.DisplayFor(m => m.Name)</dd>
    <dt>@Html.DisplayNameFor(m => m.Mobile)</dt>
    <dd>@Html.DisplayFor(m => m.Mobile)</dd>
    <dt>@Html.DisplayNameFor(m => m.Email)</dt>
    <dd>@Html.DisplayFor(m => m.Email)</dd>
    <dt>@Html.DisplayNameFor(m => m.Department)</dt>
    <dd>@Html.DisplayFor(m => m.Department)</dd>
    <dt>@Html.DisplayNameFor(m => m.Title)</dt>
    <dd>@Html.DisplayFor(m => m.Title)</dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="submit" value="確認刪除" class="btn btn-danger"/>
    @Html.ActionLink("返回員工列表", "Index", null, new { @class = "btn btn-warning" })
}


@section topCSS{
<style>
    .dl-horizontal {
        background-color: lightblue !important;
        padding: 15px;
        border-radius: 5px;
    }

    dt {
        background-color: aquamarine !important;
        border-width: 1px !important;
        border-style: solid;
        padding-right: 15px !important;
    }

    dd {
        border-bottom-width: 2px !important;
        border-color: gray !important;
        border-bottom: dashed;
        padding-left: 20px;
    }

    .dl-horizontal > dt, .dl-horizontal > dd {
        border-radius: 3px 3px 3px 3px !important;
        font-size: larger;
        line-height: 25px !important;
        vertical-align: central;
        padding: 3px;
    }
</style>
}