
@{
    ViewBag.Title = "Encryption";
}

<h2>Encryption</h2>


<!--看一下加密後的密碼長怎麼樣-->
Password : @ViewData["Password"]
<br />
<br />
MD5 Password : @ViewData["MD5"]
<br />
<br />
MD5 Base64 Password : @ViewData["MD5Base64"]
<br />
<br />
SHA1 Password : @ViewData["SHA1"]
<br />
<br />
SHA512 Password : @ViewData["SHA512"]
<br />
<br />